/* Additional CSS for the date container */
.date-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}

/* Additional CSS for the form container */
.form-container {
  /* Add styling for the form container */
  flex: 1; /* Allow the form container to grow and take up remaining space */
  padding: 20px; /* Example padding for the form container */
  margin: 50px auto; /* Center the form vertically and horizontally */
  max-width: 600px; /* Limit the maximum width of the form */
  background-color: #f9f9f9; /* Add background color */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

/* Additional styling for the form */
form {
  /* Center the form horizontally */
  margin: 0 auto;
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
}

/* Styling for the form legend */
legend {
  font-weight: bold;
  color: #8b0101;
}

/* Styling for the form fieldsets */
fieldset {
  margin-bottom: 20px; /* Add space between fieldsets */
}

/* Styling for the form labels */
label {
  color: #110a72;
  font-weight: bold;
}

/* Styling for the form inputs and textareas */
input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px; /* Add space below each input */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for the submit button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Hover effect for the submit button */
button[type="submit"]:hover {
  background-color: #0056b3;
}
