
<div class="row">
  <div class="col-12">
    <div class="card card-default">
      <div  *ngIf="journal" class="card-header">


        <h2>Journal Details</h2>

        <p><strong>Remark:</strong> {{ journal.remarque }}</p>
        <p><strong>Total Evaluation Score:</strong> {{ journal.totalNoteEvaluation }}</p>

        <p><strong>Etat Journal:</strong> {{ journal.journalIsValid ? 'Journal Validé' : 'Journal Non Validé' }}</p>


        <h1 style="padding-top: 16px">Tache List</h1>
        <div class="ajout-button">
          <button mat-raised-button class="btn-ajout" (click)="openAjoutTacheDialog(journal.idJournal)">
            <span><b>Ajouter</b></span>
          </button>

        </div>
      </div>
      <div class="card-body">

        <table id="productsTable" class="table table-hover table-product" style="width:100%">

          <thead>
          <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let tache of taches">

            <td>{{ tache.descriptiontache }}</td>
            <td>{{ tache.datetache | date }}</td>

            <!--  <td>{{ tache.valid ? 'Yes' : 'No'  }}</td>  -->
            <td>{{ tache.status  }}</td>



<td>  <a class="dropdown-item" style="color: rgb(16, 132, 14) ;"  (click)="openUpdateTacheDialog(tache)"><b>Modifier</b><span class="mdi mdi-grease-pencil" style="padding-left: 37%;"></span></a>
  <!-- <button mat-button (click)="openUpdateTacheDialog(tache)">Modifier</button>-->
  <!-- <a class="btn btn-danger"  (click)="openUpdateTacheDialog(tache)"><span class="fa fa-pencil"></span></a> -->
  <a class="dropdown-item" style="color: rgb(226, 20, 20);" (click)="deleteTache(tache.idtache)"><b>Supprimer</b><span class="mdi mdi-delete" style="padding-left: 23%;"></span></a>
  <!--            <button (click)="deleteTache(tache.idtache)">Supprimer</button>--></td>



          </tr>
         </tbody>

       </table>
       <!-- Separated Rounded Pagination -->


      </div>
    </div>

  </div>
</div>
